  <%= form_for [@board, @board.lists.new] do |f| %>
  <div class="field">
    
    <%= f.text_field :title, required: true, placeholder: "List Name" %>
  </div>

  <%= f.submit class: "btn waves-effect waves-light"%>
<% end %>