<h1>Edit a Board</h1>

  <%= form_with(model: @board, local: true) do |f| %>
  <div class="field">
    
    <%= f.text_field :title, required: true %>
  </div>

  <%= f.submit class: "btn waves-effect waves-light"%>
<% end %>
